.ContentSkills{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap:15px;
    max-width: 1545px;
    margin: 0 auto;
    padding: 0 20px 40px 20px;
    @media (max-width: $sm-desktop) {
        grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
        gap:5px;
        padding: 0 0 20px 0;
    }
    &__h2{
        text-align: center;
    }
}
.Item{
    background-color: var(--game-description-back-color);
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    padding: 20px 0;
    &__img{
        width: 60%;
        height: 60%;
        
        object-fit: contain;
        margin: 25px auto 0 auto;
        height: 125px;
        bottom: 8px;
        filter: drop-shadow(5px 5px 5px #222);
        @media (max-width: $sm-desktop) {
            height: 70px;
        }
    }
    &__text{
        top: 15px;
        left: 0;
        position: absolute;
        font-weight: 700;
        z-index: 1;
        right: 0;
        @media (max-width: $sm-desktop) {
            font-size: 12px;
        }
    }
    &__textYear{
        position: absolute;
        right: 5px;
        bottom: 5px;
        z-index: 1;
        font-weight: 700;
        filter: drop-shadow(2px 2px 2px rgba(34, 34, 34, 0.5)) drop-shadow(2px 2px 2px rgba(34, 34, 34, 0.5));
    }
}