.contentTop{
    display: flex;
    justify-content: space-between;
    margin: 80px auto 30px auto;
    width: 100%;
    @media (max-width: $sm-desktop) {
        flex-wrap: wrap;
    }
    &__left{
        padding: 30px;
        width: 40%;
        @media (max-width: $sm-desktop) {
            width: 100%;
            padding: 10px;
        }
        &--svg{
            margin: 25px 0;
        }
        &--text{
            margin: 25px 0;
        }
    }
    &__right{
        width: 60%;
        @media (max-width: $sm-desktop) {
            width: 100%;
        }
        &--svg{
            padding: 30px;
        }
    }
    &__h1{
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        @media (max-width: $sm-desktop) {
            font-size: 30px;
        }
    }
    &__btn{
        width: 180px;
    }
}