.MemoryGame{
    &__title{
        padding: 30px;
    }
    &__description{
        align-items: center;
        background-color: var(--game-description-back-color);
        display: flex;
        justify-content: space-between;
        padding: .5rem 1rem;
        border: 1px solid rgba(0,0,0,.125);
        &--name{
            display: flex;
        }
        &--description{
            display: flex;
            border-radius: 0.25rem;
            background-color: rgba($color:#6C757D, $alpha: 1.0);
            font-size: 1.25rem;
            font-weight: 700;
            color: #fff;
            line-height: 1;
            padding: 0.3rem 0.5rem;
            margin-left: 15px;
        }
        &--btn{
            display: flex;
        }
        &--btnContent{
            display: flex;
            gap:10px
        }
    }
    &__content{
        display: flex;
        width: 100%;
        &--grip{
            padding: 0 5px 0 30px;
            display: flex;
            width: 70%;
        }
        &--data{
            padding: 0 30px 0 5px;
            display: flex;
            width: 30%;
        }
        
    }
}
.TableReward{
    width: 100%;
    border-color: #dee2e6;
    border-collapse: collapse;
    &__div{
        margin: 0 auto;
    }
    &__content{
        background-color: var(--game-description-back-color);
        padding: 0.5rem 1rem;
        border: 1px solid rgba(0, 0, 0, 0.125);
        border-radius: 5px;
        margin: 0 auto;
    }
    &__head{
        &--th{
            border: 2px solid var(--primary-color);
            padding: 5px;
        }
    }
    &__body{
        &--td{
            border: 2px solid var(--primary-color);
            padding: 5px;
        }
        &--right{
            text-align: end;
        }
        &--text{
            padding: 5px;
            text-align: center;
        }
    }
}
.TableIco{
    text-align: center;
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}
.TableH3{
    margin-top:0;
}