.footer{
    display: flex;
    margin: 1.5rem 0;
    justify-content: space-between;
    width: 100%;
    flex-wrap: nowrap;
    &__left{
        align-items: center;
        display: flex;
        padding: 30px;
        width: 50%;
        &--span{
            padding: 0 10px;
            color: #6c757d;
        }
    }
    &__right{
        justify-content: flex-end;
        display: flex;
        padding: 30px;
        width: 50%;
        &--link{
            display: flex;
            justify-content: flex-end;
            margin-bottom: 20px;
        }
        &--ico{
            color: currentColor;
            text-decoration: none;
            margin: 0 0 0 10px;
            &:active{
                text-decoration: none;
            }
        }
        &--span{
            border-radius: 0.25rem;
            background-color: rgba($color:#6C757D, $alpha: 1.0);
            font-size: 1.25rem;
            font-weight: 700;
            color: #fff;
            line-height: 1;
            padding: 0.3rem 0.5rem;
            margin-left: 15px;
        }
    }
}