@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
/* light theme */
$primary_color_light: #282c34;
$secondary_color_light: #fff;
$header_color_light: #F8F9FA;
$header_color_link_light: linear-gradient(rgba(0,0,0,.2) 97%,#017b94 0);
$description_color_back_light: #F2F2F2;
/* dark theme */
$primary_color_dark: #fff;
$secondary_color_dark: #282c34;
$header_color_dark: #212529;
$header_color_link_dark: linear-gradient(rgba(0,0,0,.2) 97%,#00d6ff 0);
$description_color_back_dark: #212529;

/* font */
$sans-font-family: Arial, Helvetica, sans-serif;
$quicksand: 'Quicksand', $sans-font-family;

/* with page */
/* BREAKPOINTS */
$sm-tablet: 40rem; // 640px
$tablet: 48rem; // 768px
$sm-desktop: 64rem; // 1024px
$desktop: 80rem; // 1280px