/* Variables de color si el tema es nulo o light */
html {
    --primary-color: #282c34;
    --secondary-color: #fff;
}

/* Variables de color si el tema es dark */
html[data-theme="dark"] {
    --primary-color: #fff;
    --secondary-color: #282c34;
}
.pr-3 {
    padding-right: 1rem!important;
}
.pl-3 {
    padding-left: 1rem!important;
}
.btn-theme {
    color: #fff;
    background-color: #388E3C;
    border-color: #388E3C;
}
body{
    background-color: var(--secondary-color);
    color: var(--primary-color);
    transition: all 0.3s linear;
}
nav{
    transition: all 0.3s linear;
}
.nav_style_new{
    width: 4.5rem;
}
.text-theme-1{
    color: #00BCD4;
}
.text-theme-2{
    color: #388E3C;
}
.img-home-init{
    position: absolute;
}
@media (min-width: 120px) {
    .img-home-init1{
        height: 150px;
    }
}
@media (min-width: 320px) {
    .img-home-init1{
        height: 200px;
    }
}
@media (min-width: 480px) {
    .img-home-init1{
        height: 330px;
    }
}
@media (min-width: 575px) {
    .img-home-init1{
        height: 210px;
    }
}
@media (min-width: 770px) {
    .img-home-init1{
        height: 280px;
    }
}
@media (min-width: 990px) {
    .img-home-init1{
        height: 380px;
    }
}
@media (min-width: 1199px) {
    .img-home-init1{
        height: 450px;
    }
}
@media (min-width: 1399px) {
    .img-home-init1{
        height: 530px;
    }
}