/* Variables de color si el tema es nulo o light */
html {
    --primary-color: #282c34;
    --secondary-color: #fff;
    --border-color-page: 1px solid rgba(0,0,0,.125);
}

/* Variables de color si el tema es dark */
html[data-theme="dark"] {
    --primary-color: #fff;
    --secondary-color: #282c34;
    --border-color-page: 1px solid rgba(255, 255, 255, 0.12);
}
.pr-3 {
    padding-right: 1rem!important;
}
.pl-3 {
    padding-left: 1rem!important;
}
.accordion-item {
    border: var(--border-color-page);
    transition: all 0.3s linear;
}
.accordion-button:not(.collapsed) {
    color: #388E3C;
}
.accordion-button:focus {
    border-color: #00BCD4;
    box-shadow: 0 0 0 .25rem rgb(0, 188, 212);
}

.btn-theme {
    color: #fff;
    background-color: #388E3C;
    border-color: #388E3C;
}
body{
    background-color: var(--secondary-color);
    color: var(--primary-color);
    transition: all 0.3s linear;
}
nav{
    transition: all 0.3s linear;
}
.nav_style_new{
    width: 4.5rem;
}
.text-theme-1{
    color: #00BCD4;
}
.text-theme-2{
    color: #388E3C;
}
.carousel-caption {
    position: absolute;
    right: 10%;
    top: 0.15rem;
    left: 10%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}
/*-----------------------------------------------
|   Font Sizes
-----------------------------------------------*/
.fs--1 {
    font-size: 0.75rem;
}

.fs-0 {
    font-size: 1rem;
}

.fs-1 {
    font-size: 1.333rem;
}

.fs-2 {
    font-size: 1.777rem;
}

.fs-3 {
    font-size: 2.369rem;
}

.fs-4 {
    font-size: 3.157rem;
}

.fs-5 {
    font-size: 4.199rem;
}

.fs-6 {
    font-size: 5.584rem;
}

.fs-7 {
    font-size: 7.427rem;
}

.fs-8 {
    font-size: 9.878rem;
}

@media (min-width: 576px) {
    .fs-sm--1 {
        font-size: 0.75rem;
    }
    .fs-sm-0 {
        font-size: 1rem;
    }
    .fs-sm-1 {
        font-size: 1.333rem;
    }
    .fs-sm-2 {
        font-size: 1.777rem;
    }
    .fs-sm-3 {
        font-size: 2.369rem;
    }
    .fs-sm-4 {
        font-size: 3.157rem;
    }
    .fs-sm-5 {
        font-size: 4.199rem;
    }
    .fs-sm-6 {
        font-size: 5.584rem;
    }
    .fs-sm-7 {
        font-size: 7.427rem;
    }
    .fs-sm-8 {
        font-size: 9.878rem;
    }
}

@media (min-width: 768px) {
    .fs-md--1 {
        font-size: 0.75rem;
    }
    .fs-md-0 {
        font-size: 1rem;
    }
    .fs-md-1 {
        font-size: 1.333rem;
    }
    .fs-md-2 {
        font-size: 1.777rem;
    }
    .fs-md-3 {
        font-size: 2.369rem;
    }
    .fs-md-4 {
        font-size: 3.157rem;
    }
    .fs-md-5 {
        font-size: 4.199rem;
    }
    .fs-md-6 {
        font-size: 5.584rem;
    }
    .fs-md-7 {
        font-size: 7.427rem;
    }
    .fs-md-8 {
        font-size: 9.878rem;
    }
}

@media (min-width: 992px) {
    .fs-lg--1 {
        font-size: 0.75rem;
    }
    .fs-lg-0 {
        font-size: 1rem;
    }
    .fs-lg-1 {
        font-size: 1.333rem;
    }
    .fs-lg-2 {
        font-size: 1.777rem;
    }
    .fs-lg-3 {
        font-size: 2.369rem;
    }
    .fs-lg-4 {
        font-size: 3.157rem;
    }
    .fs-lg-5 {
        font-size: 4.199rem;
    }
    .fs-lg-6 {
        font-size: 5.584rem;
    }
    .fs-lg-7 {
        font-size: 7.427rem;
    }
    .fs-lg-8 {
        font-size: 9.878rem;
    }
}

@media (min-width: 1200px) {
    .fs-xl--1 {
        font-size: 0.75rem;
    }
    .fs-xl-0 {
        font-size: 1rem;
    }
    .fs-xl-1 {
        font-size: 1.333rem;
    }
    .fs-xl-2 {
        font-size: 1.777rem;
    }
    .fs-xl-3 {
        font-size: 2.369rem;
    }
    .fs-xl-4 {
        font-size: 3.157rem;
    }
    .fs-xl-5 {
        font-size: 4.199rem;
    }
    .fs-xl-6 {
        font-size: 5.584rem;
    }
    .fs-xl-7 {
        font-size: 7.427rem;
    }
    .fs-xl-8 {
        font-size: 9.878rem;
    }
}
